/***********************
reset
***********************/
:root {
    --header-footer-color: #2C3E50;
    --main-green-color: #1BBC9D;
    --footer-top-color: #3A546D;
    --text-color: #FFFFFF;
    --text-color-title: #000000;
}

/***********************
debug
***********************/
.debug header {
    background-color: sandybrown;
    border: 1px dashed black;
}
.debug main {
    background-color: coral;
    border: 1px dashed black;
}
.debug footer {
    background-color: grey;
    border: 1px dashed black;
}

/***********************
color
***********************/
header {
    background-color: var(--header-footer-color);
}
.section-green {
    background-color: var(--main-green-color);
}
.footer-top {
    background-color: var(--footer-top-color);
}
.footer-bottom {
    background-color: var(--header-footer-color);
}
/***********************
general
***********************/
header .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    width: 100%;
}
section {
    padding: 50px 0;
}
i {
    font-size: 2rem;
    color: #2C3E50;
}
/***********************
header
***********************/

/***********************
main
***********************/
.col-4 {
    margin-bottom: 20px;
}

/***********************
footer
***********************/