/***********************
reset
***********************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --header-footer-color: #2C3E50;
    --main-green-color: #1BBC9D;
    --footer-top-color: #3A546D;
}

/***********************
debug
***********************/
.debug header {
    background-color: sandybrown;
    border: 1px dashed black;
}
.debug main {
    background-color: coral;
    border: 1px dashed black;
}
.debug footer {
    background-color: grey;
    border: 1px dashed black;
}

/***********************
color
***********************/

/***********************
general
***********************/
.container{
    max-height: 1000px;
    margin: 0 auto;
}

.row {
    width: 70%;
    margin: 0 auto;
}
header .row {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style: none;
}
a {
    text-decoration: none;
}
/***********************
header
***********************/

/***********************
main
***********************/

/***********************
footer
***********************/